<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <header>
    <p>estamos en la pagina de: {{nombre}}</p>
    
  </header>
  <body>
    {{!--lo que hace es agregar como componente los archivos hbs--}}
    {{{body}}}
  </body>
  <footer>
    <h2>Por la vida!!!!</h2>
  </footer>
</html>
